body{
  marigin:0;
  padding:0;
  font-family: sans-serif;
  background-image:url(img/helicopter3.jpeg);
  background-size: cover;

}
.login-box{
 width: 280px;
 position: absolute;
 top:70%;
 left:50%;
 transform: translate(-50%,-50%);
 color:white;
 padding:40px;
 /* border: 2px solid #111311; */
}
.login-box h2{
 float: left;
 font-size: 30px;
 border-bottom: 3px solid #4903f4;
 margin-bottom: 30px;
 padding: 13px 0px;
}
.form-group{
 width: 100%;
 overflow: hidden;
 font-size: 20px;
 padding: 8px 0;
 margin: 8px 0;
 border-bottom: 1px solid #4903f4;
}
.textbook input{
 border: none;
 outline: none;
 background: none;
 color:white;
 font-size: 18px;
 width: 80%;
 float: left;
 margin: 0 10px
}
.form-control{
 padding: 3px;
 float:right;
 border: 1px solid;
 background-color: transparent !important;


}
.btn{

margin: 10px auto;0;
 padding: 5px;
 background-color:rgb(132, 129, 131);
 text-align: center;
 border: 1px solid  #2E1263;
 text-transform: uppercase;
 text-decoration: none;
 outline: none;
 font-size:20px;
}
.btn:hover{
 transition: .3s;
 background-color: #2E1263;
 color: #F69680;
 text-decoration: underline;
}
